body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
    background-size: 100%;
}

.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Header {
    background-color: #282c34;
    line-height: 0;
}
/* 
.vertical-timeline-element-title {
    font-size: 4vh !important;
    padding-left: -1000px !important;
    top: -10vh !important;
    left: -10vw !important;   
}

vertical-timeline-element-title {
    top: -10vh;
    left: 10vw
} */

#LandingText {
    text-align: left;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 100px;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    /* font-size: 100px; */
    color: white;
    font-family: 'Roboto Light' !important;
    
  }

#AboutMeText {
    text-align: left;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 100px;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    /* font-size: 100px; */
    color: grey;
    font-family: 'Roboto Light' !important;
    
  }

#EducationText {
    text-align: left;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 100px;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    /* font-size: 100px; */
    color: whitesmoke;
    font-family: 'Roboto Light' !important;
    
  }

#ExperienceText {
    text-align: left;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 100px;
    justify-content: center;
    /* font-size: calc(10px + 2vmin); */
    font-size: 100px;
    color: whitesmoke;
    font-family: 'Roboto Light' !important;
    
  }

#ProjectsText {
    text-align: left;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 100px;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    /* font-size: 100px; */
    color: whitesmoke;
    font-family: 'Roboto Light' !important;
    
  }
/* 
.App-logo {
  height: 60vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 30s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
